body{
    background-color: #445;
    color: green;
    font-weight: 400;
}


/*Search Form*/
.search-bar{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
#search-form input{
    width: 300px;
}

#search-form button{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    background-color: #934;
    font-weight: 800;
}

/*Artist card*/
#artist-card{
    margin-left: auto;
    margin-right: auto;
    background-color: #445;
    text-align: center;
    padding: 10px;
}

#artist-card h2{
    font-size: 28px;
    color: #777;
}


#artist-songs a{
    color: #874;
    padding: 5px;
}

#artist-songs li{
    list-style: none;
}

