/* my colors #687864-earthie green, #003f5c-deepBlue,
5085A5-Lighter-blue, #8FC1E3-very pail blue, #f7f9FB-   */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Roboto+Slab&display=swap');
html {
	overflow-x: hidden;
}
body {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: #687864;
	overflow-x: hidden;
}

h2 {
	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000000;
	text-align: center;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

#logo {
	float: left;
	font-size: 250%;
	padding-left: 25px;
}

#logo {
	line-height: 75px;
}

.active {
	border-bottom: 1px solid #687864;
}

/*Social Links*/
#social-links {
	font-size: 110%;
	list-style-type: none;
	letter-spacing: 4px;
	text-align: center;
}

#social-links li {
	display: inline-block;
	text-align: center;
	margin-right: 30px;
}

#social-links a {
	text-decoration: none;
	color: inherit;
}

#social-links a:hover {
	border-bottom: 1px solid #687864;
}

/*--------Back Ground Colors*/

/*--------Content*/
#best-seller-header,
#favourite-header {
	list-style-type: none;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 10px;
}
.favourite-list,
.best-seller-list {
	font-size: 110%;
	list-style-type: none;
	letter-spacing: 4px;
	text-align: center;
}

/* Images*/
#hero-outer {
	height: 600px;
	width: auto;
	overflow: hidden;
	position: relative;
}
#hero-image {
	height: 600px;
	width: auto;
	background-image: url('./images/o-VINYL-facebook.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*Album Images*/

.album-artwork {
	height: 50px;
	width: auto;
	margin-left: 10px;
	margin-top: 4px;
}

.table-image {
	td, th {
	  vertical-align: middle;
	}
  }
/*Overlays*/
